.main-text {
    margin-top: 100px;
}

.row {
        height: 250px;

}

#text {
    background-color: yellow;
}

#choiceA {
    background-color: green;
}
#choiceB {
    background-color: skyblue;
}
#choiceC {
    background-color: fuchsia;
}
#choiceD {
    background-color: lightcyan;
}

#btnCol {
    background-color: red;    
}